* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #1b1d31;
  font-family: "Titillium Web", sans-serif;
}

h1 {
  color: white !important;
}

.shadowbox {
  box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
  background-color: #24253c;
}

input {
  background-color: transparent !important;
  color: white !important;
}

input::placeholder {
  color: #a8b4b6 !important;
}

.w-65 {
  width: 65%;
}

button:hover {
  background-color: #e30c2c !important;
  color: white !important;
}

.log-out:hover {
  background-color: #e30c2c;
  color: white !important;
}

.btn {
  color: #e30c2c !important;
  border-color: #e30c2c !important;
}

.transfer-link {
  color: #e30c2c !important;
}
